.button {
  @apply inline-block rounded-full px-8 py-6 bg-white text-dark font-medium cursor-pointer ease-in transition-all duration-500;
  font-size: 1.6rem;

  @media (min-width: 640px) {
    @apply text-3xl;
  }

  &:hover {
    @apply bg-primary text-white;
  }

  &.primary {
    @apply bg-purple text-white;

    &:hover {
      @apply bg-white text-primary;
    }
  }

  &.next,
  &.results {
    &:hover {
      @apply bg-white text-primary;
    }
  }

  &.back {
    @apply opacity-50;

    &:hover {
      @apply bg-white text-primary;
    }
  }

  &.button-outline {
    @apply bg-transparent text-white border-white border-solid border;
  }

  &.disabled {
    @apply cursor-default opacity-50;
    background-color: #ebedf1 !important;
    color: #19212b !important;

    &#resultsButton {
      opacity: 0;

      &.enabled {
        opacity: 1;
      }
    }
  }
}

.pill {
  @apply bg-grey font-light mr-8;
}

.selected .pill {
  @apply bg-primary text-white;
}
