/**
 * Fonts
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@font-face {
  font-family: 'appd_sans_tighterbold';
  src        : url("../fonts/appdsanstighter-bold-webfont.woff2") format('woff2'), url("../fonts/appdsanstighter-bold-webfont.woff") format('woff');
  font-weight: normal;
  font-style : normal;
}
@font-face {
  font-family: 'appd_sans_tighterheavy';
  src        : url("../fonts/appdsanstighter-heavy-webfont.woff2") format('woff2'), url("../fonts/appdsanstighter-heavy-webfont.woff") format('woff');
  font-weight: normal;
  font-style : normal;
}
@font-face {
  font-family: 'appd_sans_tightermedium';
  src        : url("../fonts/appdsanstighter-medium-webfont.woff2") format('woff2'), url("../fonts/appdsanstighter-medium-webfont.woff") format('woff');
  font-weight: normal;
  font-style : normal;
}
@font-face {
  font-family: 'appd_sans_tighterregular';
  src        : url("../fonts/appdsanstighter-regular-webfont.woff2") format('woff2'), url("../fonts/appdsanstighter-regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style : normal;
}
@font-face {
  font-family: 'appd_sans_tighterlight';
  src        : url("../fonts/appdsanstighter-light-webfont.woff2") format('woff2'), url("../fonts/appdsanstighter-light-webfont.woff") format('woff');
  font-weight: normal;
  font-style : normal;
}